---
export const prerender = false;
import Layout from '../layouts/Layout.astro';
import LinkApp from '~/components/svelte/LinkApp.svelte';
---

<Layout title="Home | Zach Handley" description="Use Steve the dragon to navigate my site">
  <main class="w-full min-h-screen min-w-screen relative bg-gray-900">
    <LinkApp client:only="svelte" />
  </main>
</Layout>